{% extends 'base.html' %}
{% block title %}Add Jobs{% endblock %}
{% block content %} 
{% load static %}  
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title mb-4">Add a Job Listing</h5>
                    <div class="form-group mb-3">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-between mt-3">
                            <a href="{% url 'employer_jobs' %}" class="btn btn-secondary">&larr; Back to Jobs</a>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}