{% extends 'base.html' %}
{% block title %}Job Details{% endblock %}
{% block content %} 
{% load static %}  
<div class="container mt-5">
    <div class="w-75 mx-auto"> 
        <h2 class="mb-3">Job Details</h2>
        <h4>{{ job.job_title }}</h4>
        <p class="lead">{{ job.company_name }}</p>
        <p><strong>Location:</strong> {{ job.location }}</p>
        <p><strong>Description:</strong> {{ job.description }}</p> 
        <p><strong>Deadline:</strong> {{ job.deadline }}</p> 
        {% if request.user.is_authenticated and user.usertype.user_type == 'employer' %}
            <a href="{% url 'employer_jobs' %}" class="btn btn-secondary mt-3">&larr; Back to Jobs</a>
        {% else %}
            <a href="{% url 'job_list' %}" class="btn btn-secondary mt-3">&larr; Back to Jobs</a>
        {% endif %}
        {% if not request.user.is_authenticated or user.usertype.user_type == 'job_applicant' %}
            <a href="{% url 'job_apply' job.pk %}" class="btn btn-primary mt-3">Apply</a>
         {% endif %}
    </div>
</div>
{% endblock %}