{% extends 'base.html' %}
{% load static %}
{% block title %}Login Page{% endblock %}
{% block content %} 
 <div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card mx-auto my-5 p-3 shadow rounded mt-5">
                <h5 class="card-title text-center mb-4">Login</h5>
                {% if form.errors %}
                    <p>{{ form.errors }}</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="remember">
                        <label class="form-check-label" for="remember">Remember me</label>
                    </div>
                    <p>Don't have an account? <a href="{% url 'user_accounts:register' %}">Create one</a></p>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}